footer{
    border: 2px solid black;
}
h4{
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
button{
    margin-left: 852px;
    width: 150px;
    height: 70px;
}
h4, button{
    display: inline-block;
}
.b{
    font-size: 500%;
}
#clear{
    margin-left: 10px;
    width: 120px;
    height: 40px;
}
.a, .c{
    display: inline-block;
}
.c{
    width: 100px;
    height: 30px;
    margin-left: 200px;
}
.d{
    display: inline-block;
    margin-left: 80px;
}
.a{
    width: 175px;
}